@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: white;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: --var(--font-geist-mono);
  box-sizing: border-box;
  background-color: white;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: inherit;
}

.slick-dots li.slick-active span {
  background-color: white !important;
}